---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout title="404 - Page Not Found">
  <section class="column content">
    <h1>404 - Page Not Found</h1>
    <p>Sorry, the page you're looking for doesn't exist.</p>
    <a href="/">← Back to home</a>
  </section>
</BaseLayout>
