@font-face {
	font-family: 'icons';
	src:url('/assets/fonts/icons.eot');
	src:url('/assets/fonts/icons.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/icons.woff') format('woff'),
		url('/assets/fonts/icons.ttf') format('truetype'),
		url('/assets/fonts/icons.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

//@font-face {
//    font-family: 'cousineregular';
//    src: url('/assets/fonts/cousine-regular-webfont.eot');
//    src: url('/assets/fonts/cousine-regular-webfont.eot?#iefix') format('embedded-opentype'),
//         url('/assets/fonts/cousine-regular-webfont.woff') format('woff'),
//         url('/assets/fonts/cousine-regular-webfont.ttf') format('truetype'),
//         url('/assets/fonts/cousine-regular-webfont.svg#cousineregular') format('svg');
//    font-weight: normal;
//    font-style: normal;
//}

$blue: 		#729DD6;
$purple: 	#C272ED;
$red: 		#E3422F;
$green: 	#72EDAD;
$yellow: 	#CCE36D;